
.drawscillator-controls {
    background-color: #cacaca;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    gap: 1em;
}

.wave-preview {
    border: 1px solid black;
}

.drawscillator-clip {
    height: 100px;
    width: 200px;
}

.audio-clips-container {
    height: 50svh;

    display: flex;
    flex-direction: column;
    gap: 3%;

    overflow: scroll;
}

.audio-clips-container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
